
#box{
    width: 150px;
    height: 150px;
    border: 1px solid black;

}

.input{
    padding: 5px;
    margin: 10px;
}



.table{
    border-collapse: collapse;
    width: 50%;
}
.table, th, td{
    border: 1px solid black;
    padding: 10px;
}
.img{
    width: 25px;
    height: 25px;
}
 

